.nav-item a{
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.nav-item a:hover{
    background-color: #acacac;
}

.title{
    font-size: 30px;
}

/* canvas {
	background-color: #fff;  
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
} */

#wrapper {
    position: relative;
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
}

#stage {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 10;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#strings {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

#plate {
    position: relative;
    top: 0;
    left: 178px;
    width: 270px;
    height: 220px;
    background: url(plate.png) center center no-repeat;    
}

#instruments {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.instrument{
    position: relative;
    top: 300px;
    display: inline-block;
    width: 18%;
    margin-right: 1%;
    background-color: gray;
    height: 50px;
    position: relative;
    border-radius: 5px;
    align-items: center;
}

#instrument1{
    background-color: #ED5314;
}

#instrument2{
    background-color: #FFB92A;
}

#instrument3{
    background-color: #FEEB51;
}

#instrument4{
    background-color:#9BCA3E;
}

#instrument5{
    background-color: #9013FE;
}

.instrument > p{
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#clef{
    position: absolute;
    left: 10%;
    top: 162px;
    width: 100px;
    height: 230px;
}

#clef img{
position: absolute;
  height: 100%;
}

.notes {
    display: block;
    margin: auto;
    position: absolute;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    min-width: 300px;
    height: 300px;
    border: 0px solid #000;
    overflow-x: hidden;
  }
  
  .note1,
  .note2,
  .note3,
  .note4,
  .note5,
  .note6 {
    position: absolute;
    animation: notes 3s forwards linear;
    font-size: 35px;
    opacity: 0;
  }

  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    25% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(200%, -200%);
      opacity: 0;
    }
  }

  #usercount{
      position: relative;
      top: 7px;
      right: 15px;
      color: white;
  }